*.opensdf
*.sdf
*.suo
*.db
*.vcxproj.user
*.ilk
*.pdb
*.Debug
*.Release
*.idb
*.exe
*.fbm/
ipch/
html/
AIEAdvancedDiploma/ComputerGraphics/ComputerGraphics/Debug/
AIEAdvancedDiploma/ComputerGraphics/ComputerGraphics/Release/
AIEAdvancedDiploma/ComputerGraphics/ComputerGraphics/Assets/Textures/Generated/*.bmp
AIEAdvancedDiploma/ComputerGraphics/Release/Assets/Textures/Generated/*.bmp