*.opensdf
*.sdf
*.suo
*.db
*.vcxproj.user
*.ilk
*.pdb
*.Debug
*.Release
*.idb
*.fbm/
ipch/
html/
AIEAdvancedDiploma/ComputerGraphics/ComputerGraphics/ComputerGraphics.exe
AIEAdvancedDiploma/ComputerGraphics/ComputerGraphics/ComputerGraphicsD.exe
AIEAdvancedDiploma/ComputerGraphics/ComputerGraphics/Debug/
AIEAdvancedDiploma/ComputerGraphics/ComputerGraphics/Release/
AIEAdvancedDiploma/ComputerGraphics/ComputerGraphics/Assets/Textures/Generated/*.bmp
AIEAdvancedDiploma/ComputerGraphics/Release/Assets/Textures/Generated/*.bmp
AIEAdvancedDiploma/QtTutorial/QtTutorial/QtTutorial.exe
AIEAdvancedDiploma/QtTutorial/QtTutorial/QtTutorialD.exe
AIEAdvancedDiploma/QtTutorial/QtTutorial/Debug/
AIEAdvancedDiploma/QtTutorial/QtTutorial/Release/
AIEAdvancedDiploma/QtTutorial/QtTutorial/qt/debug/
AIEAdvancedDiploma/QtTutorial/QtTutorial/qt/release/
AIEAdvancedDiploma/QtTutorial/QtTutorial/qt/Makefile.Debug
AIEAdvancedDiploma/QtTutorial/QtTutorial/qt/Makefile.Release
AIEAdvancedDiploma/QtTutorial/QtTutorial/qt/Makefile