*.opensdf
*.sdf
*.suo
*.db
*.vcxproj.user
*.ilk
*.pdb
*.Debug
*.Release
*.idb
*.exe
ipch/
html/
AIEAdvancedDiploma/ComputerGraphics/Debug/
AIEAdvancedDiploma/ComputerGraphics/Release/
AIEAdvancedDiploma/ComputerGraphics/Assets/Textures/Generated/
AIEAdvancedDiploma/ComputerGraphics/fbx/FBX_Loader.lib
AIEAdvancedDiploma/ComputerGraphics/fbx/FBX_Loader_d.lib